@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

/* 
** Header 
*/

.discord-header {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(222, 222, 222);
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 1rem;
}

.discord-header p {
    font-size: .8rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-right: 3rem;
    margin-top: 0.5rem;
}

.discord-header a {
    color: #989ca2;
    text-decoration: none;
    padding: .5rem 1rem;
    background: rgba(152, 156, 162, 0.15);
    border-radius: 16px;
    font-size: .8rem;
    text-transform: uppercase;
    transition: 0.2s;
}

.discord-header a:hover{
    color: #000;
}

.navbar {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 29rem;
}

.nav-link {
    text-decoration: none;
    font-size: .9rem;
    transition: all 0.3s ease;
    cursor: pointer;
    min-width: 105px;
    justify-content: center;
    display: flex;
    font-weight: 600;
}

.chevron-down {
    height: 10px;
    padding-left: 5px;
}

.nav-con {
    display: flex;
}

.openlab-logo{
    max-height: 40px;
    margin-right: 2rem;
}

.cta {
    text-decoration: none;
    color: #fff;
    background: #3597ff;
    border-radius: 5px;
    padding: .8rem 1rem;
}  

/* 
** Hero 
*/

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    background: #3597ff;
    color: #fff;
}

.text {
     max-width: 526px;
     margin-right: 6rem;
}

.header {
    font-size: 2.5em;
    line-height: 1.2;
}

.sub {
    margin-top: 2rem;
}

.main-img {
    max-height: 418px;
    margin-right: 2.5rem;
}

.aside {
    position: absolute;
    inset: 40% 0 0 85%;
    overflow-x: hidden;
    height: 100%;
}

.o_letter {
    height: 485px;
}

.thin {
    font-weight: 300;
}

/* 
** Preco openlab 
*/

.why_openlab{
    margin-top: 10rem;
    background: #fff;
}

.why_text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.why_subtext{
    margin-top: 2rem;
    max-width: 1200px;
    font-size: 1rem;
    text-align: center;
    color: #566b8d;
}



.why_items {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin-top: 4rem;
}

.why_item {
    width: 300px;
    height: 150px;
    margin: 1rem;
}

.why_item img {
    margin: .5rem 0;
}
.why_item p {
    margin: .5rem 0;
    color: #566b8d;
    font-size: .9rem;
}


/* 
** Vizia 
*/

.vision {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    background: #fff;
}

.vision_text {
    max-width: 40%;
    margin-left: 7rem;
}

.vision_text h2 {
    margin-bottom: 2.5rem;
}

.vision_text p {
    font-size: 1rem;
    color: #566b8d;
    padding-bottom: 2rem;
    font-weight: 500;
}

.features {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    margin-left: 10rem;
}

.features div {
    width: 230px;
    height: 180px;
    margin: 1rem;
    border-radius: 5px;
    text-align: end;
    padding-top: 2rem;
    padding-right: 1rem;
}

.features div h2 {
    font-size: 6rem;
}

.features div p {
    font-weight: 700;
    font-size: 1.2rem;
}

.vizia_text h2 {
    margin-bottom: 2.5rem;
}

.vizia_text p {
    font-size: 1rem;
    margin-top: 1.2rem;
    color: #566b8d;
    letter-spacing: .5px;
}

.feature-1 {
    color: #5b94d7;
    background-color: rgba(221, 236, 251, 0.4);
}
.feature-2 {
    color: #5cc19a;
    background-color: rgba(156, 238, 204, 0.4);
}
.feature-3 {
    color: #dbca68;
    background-color: rgba(238, 226, 156, 0.4);
}
.feature-4 {
    color: #b95e73;
    background-color: rgba(238, 156, 156, 0.4);
}

/*
** Labs
*/

.labs {
    display: flex;
}

.lab-text {
    display: flex;
    align-items: center;
}

.lab-items {
    display: flex;
    justify-content: center;
    align-self: center;
}

.lab-items a {
    text-decoration: none;
    color: #000;
}

.lab-title {
    font-size: 2.5rem;
    margin-left: 8rem;
    margin-right: 6rem;
}

.lab {
    width: 230px;
    height: 200px;
    padding: 2rem;
    margin-top: 1rem;
    position: relative;
}

.lab h3 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.lab p {
    font-size: .85rem;
    color: #566b8d;
    max-width: 178px;
    font-weight: 500;
    line-height: 1.5;
}

.lab img {
    position: absolute;
    bottom: 40px;
}

/*
** Schools
*/

.based-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.based-cards {
    display: flex;
    justify-content: center;
}

.based-card {
    padding: 0 4rem;
}

.based-img {
    height: 250px;
}

.based-card p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #566b8d;
    display: flex;
    align-items: center;
}

.based-card-text {
    display: flex;
}

.based-card-text h3 {
    margin-right: 5rem;
}

.based-card-text a {
    font-size: 1.1rem;
    color: #3597ff;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 2rem;
}

.p-letter {
    top: 500px;
    position: absolute;
    inset: 340% 0 0 86%;
    overflow-x: hidden;
    height: 100%;

}

.p-letter  img{
    height: 600px;
}

/*
** Want
*/

.want {
    display: flex;
    margin-top: 10rem;
}

.want-img {
    height: 600px;
}

.want-text {
    flex-direction: column;
    margin-left: 7rem;
    max-width: 550px;
    position: relative;
}

.want-title {
    margin-bottom: 5rem;
}

.want-behind {
    position: absolute;
    color: rgba(209, 220, 231, 0.45);
    top: 132px;
    font-size: 4rem;
}

.want-text p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #566b8d;
    font-weight: 500;
}

.want-text p:last-child {
    margin-bottom: 4rem;
}

.want-cta {
    padding: 1.2rem 3.5rem;
    color: #fff;
    background-color: #3597ff;
    border-radius: 4px;
    font-weight: 700;
    font-size: .9rem;
    text-decoration: none;
}

/*
** Join
*/

.join-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 7rem 0 5rem 0;
}

.join-item {
    width: 250px;
    height: 200px;
    padding: 2rem;
    margin-top: 1rem;
    position: relative;
}

.join-item h3 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.join-item p {
    font-size: .9rem;
    color: #566b8d;
    width: 100%;
    font-weight: 500;
    line-height: 1.5;
}

.join-item img {
    position: absolute;
    bottom: 50px;
}





