.discord-header {
    padding: 0.5rem;
    border-bottom: 1px solid #dedede;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 1rem;
}

.discord-header p {
    font-size: .8rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-right: 3rem;
    margin-top: 0.5rem;
}

.discord-header a {
    color: #989ca2;
    text-decoration: none;
    padding: .5rem 1rem;
    background: #989ca226;
    border-radius: 1rem;
    font-size: .8rem;
    text-transform: uppercase;
    transition: 0.2s;
}

.discord-header a:hover{
    color: #000;
}

.navbar {
    padding-bottom: 1rem;
}

.nav-links {
    list-style: none;
    margin-right: 29rem;
}

.nav-link {
    text-decoration: none;
    font-size: .9rem;
    cursor: pointer;
    min-width: 6.563rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.chevron-down {
    height: .625rem;
    padding-left: 0.313rem;
}

.openlab-logo{
    max-height: 2.5rem;
    margin-right: 2rem;
}

.cta {
    text-decoration: none;
    color: #fff;
    background: #3597ff;
    border-radius: 0.313rem;
    padding: .8rem 1rem;
}  

.main {
    width: 100%;
    padding-top: 2rem;
    background: #3597ff;
    color: #fff;
}

.text {
     max-width: 32.875rem;
     margin-right: 6rem;
}

.header {
    font-size: 2.5em;
    line-height: 1.2;
}

.sub {
    margin-top: 2rem;
}

.main-img {
    max-height: 26.125rem;
    margin-right: 2.5rem;
}

.aside {
    inset: 40% 0 0 85%;
}

.o_letter {
    height: 30.313rem;
}

.why_openlab{
    margin-top: 10rem;
    background: #fff;
}

.why_text {
    flex-direction: column;
}

.why_subtext{
    margin-top: 2rem;
    max-width: 75rem;
    font-size: 1rem;
    text-align: center;
    color: #566b8d;
}

.why_items {
    background: #fff;
    margin-top: 4rem;
}

.why_item {
    width: 18.75rem;
    height: 9.375rem;
    margin: 1rem;
}

.why_item img {
    margin: .5rem 0;
}
.why_item p {
    margin: .5rem 0;
    color: #566b8d;
    font-size: .9rem;
}

.vision {
    margin-top: 10rem;
    margin-bottom: 5rem;
    background: #fff;
}

.vision_text {
    max-width: 40%;
    margin-left: 7rem;
}

.vision_text h2 {
    margin-bottom: 2.5rem;
}

.vision_text p {
    font-size: 1rem;
    color: #566b8d;
    padding-bottom: 2rem;
    font-weight: 500;
}

.features {
    flex-wrap: wrap;
    max-width: 40%;
    margin-left: 10rem;
}

.features div {
    width: 14.375rem;
    height: 11.25rem;
    margin: 1rem;
    border-radius: 5px;
    text-align: end;
    padding-top: 2rem;
    padding-right: 1rem;
}

.features div h2 {
    font-size: 6rem;
}

.features div p {
    font-weight: 700;
    font-size: 1.2rem;
}

.vizia_text h2 {
    margin-bottom: 2.5rem;
}

.vizia_text p {
    font-size: 1rem;
    margin-top: 1.2rem;
    color: #566b8d;
    letter-spacing: .5px;
}

.feature-1 {
    color: #5b94d7;
    background-color: #ddecfb66;
}
.feature-2 {
    color: #5cc19a;
    background-color: #9ceecc66;
}
.feature-3 {
    color: #dbca68;
    background-color: #eee29c66;
}
.feature-4 {
    color: #b95e73;
    background-color: #ee9c9c66;
}

.lab-items a {
    text-decoration: none;
    color: #000;
}

.lab-title {
    font-size: 2.5rem;
    margin-left: 8rem;
    margin-right: 6rem;
}

.lab {
    width: 14.375rem;
    height: 12.5rem;
    padding: 2rem;
    margin-top: 1rem;
    position: relative;
}

.lab h3 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.lab p {
    font-size: .85rem;
    color: #566b8d;
    max-width: 11.125rem;
    font-weight: 500;
    line-height: 1.5;
}

.lab img {
    position: absolute;
    bottom: 2.5rem;
}

.based-text {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.based-card {
    padding: 0 4rem;
}

.based-img {
    height: 15.625rem;
}

.based-card p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #566b8d;
}

.based-card-text h3 {
    margin-right: 5rem;
}

.based-card-text a {
    font-size: 1.1rem;
    color: #3597ff;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 2rem;
}

.p-letter {
    top: 31.25rem;
    inset: 340% 0 0 85%;
}

.p-letter  img{
    height: 37.5rem;
}

.want {
    margin-top: 10rem;
}

.want-img {
    height: 37.5rem;
}

.want-text {
    flex-direction: column;
    margin-left: 7rem;
    max-width: 34.375rem;
    position: relative;
}

.want-title {
    margin-bottom: 5rem;
}

.want-behind {
    position: absolute;
    color: #d1dce773;
    top: 7.813rem;
    font-size: 4rem;
}

.want-text p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #566b8d;
    font-weight: 500;
}

.want-text p:last-child {
    margin-bottom: 4rem;
}

.want-cta {
    padding: 1.2rem 3.5rem;
    color: #fff;
    background-color: #3597ff;
    border-radius: 4px;
    font-weight: 700;
    font-size: .9rem;
    text-decoration: none;
}

.join-text {
    margin: 7rem 0 5rem 0;
}

.join-item {
    width: 15.625rem;
    height: 12.5rem;
    padding: 2rem;
    margin-top: 1rem;
    position: relative;
}

.join-item h3 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.join-item p {
    font-size: .9rem;
    color: #566b8d;
    width: 100%;
    font-weight: 500;
    line-height: 1.5;
}

.join-item img {
    position: absolute;
    bottom: 3.125rem;
}

.carousel {
    position: relative;
    margin-top: 10rem;
}

.carousel-card{
    position: absolute;
    max-width: 32.813rem;
    height: 26.25rem;
    background-color: #A54FA2;
    border-radius: 6px;
    bottom: 15%;
    left: 9%;
    color: #fff;
    padding: 2.5rem 2rem;
}

.carousel-card p {
    margin-top: 2rem;
    font-weight: 500;
}

.carousel-card h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 2rem;
}

.carousel-imgs {
    overflow-x: hidden;
}

.carousel-imgs img {
    max-height: 31.25rem;
}

.projects-section {
    margin-top: 10rem;
    position: relative;
}

.projects {
    justify-content: space-evenly;
    margin-top: 10rem;
}

.basic-text {
    flex-direction: column;
}

.basic-text p {
    font-weight: 500;
    color: #566b8d;
    text-align: center;
    max-width: 70%;
    margin-top: 3rem;
}

.little-line {
    width: 3.125rem;
    height: 1px;
    background-color: #fff;
    margin-top: 1rem;
}

.jacob {
    max-height: 22.5rem;
    border-radius: 12px;
    margin-top: 3rem;
}

.project-description {
    max-width: 43.75rem;
    margin-right: 8rem;
}

.project-description p {
    font-weight: 500;
    max-width: 28.125rem;
    margin-top: 1.5rem;
    color: #566b8d;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.project-description h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 2rem;
}

.thick {
    font-weight: 700;
}

.little-line-black {
    width: 3.125rem;
    height: 1px;
    background-color: #000;
    margin-top: 2rem;
}

.arrows {
    margin-bottom: 2rem;
}

.projects-line {
    height: 1px;
    background-color: #dee2e6;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 85%;
}

.projects-cta {
    text-decoration: none;
    color: #3597ff;
    align-items: center;
    font-weight: 500;
}

.projects-cta img {
    padding-left: .625rem;
}

.project-aside {
    inset: 85% 0 0 -15%;
    z-index: -1;
}

.project-aside img {
    height: 28.125rem;
}

.play-button {
    position: absolute;
    overflow-x: hidden;
    height: 4.375rem;
    z-index: 1;
    top: 55%;
    right: 25%;
}

.why-so-special {
    margin-top: 10rem;
}

.special-heading {
    margin-bottom: 5rem;
}

.special-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 62%;
    margin: 0 auto;
}

.special-card h3{
    padding: 1.5rem 0;
}

.special-card p {
    font-weight: 500;
    color: #566b8d;
    line-height: 1.5;
}

.team-heading {
    margin: 5rem 0;    
}

.team-members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 82%;
    margin: 0 auto;
}


.team-member img {
    max-height: 21.875rem;
    border-radius: 6px;
}


.member-description {
    font-size: 0.875rem;
    color: #566b8d;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.member-name {
    font-size: 1.25rem;
    font-weight: 500;
}

.member-position {
    color: #566b8d;
    font-weight: 500;
    font-size: 1rem;
}

.support-us {
    margin-top: 10rem;
}

.ptp img {
    max-height: 28.125rem;
}

.support-text {
    max-width: 40.625rem;
    margin-left: 2rem;
}

.support-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.support-text p {
    font-weight: 500;
    color: #566b8d;
    line-height: 1.5;
    margin-bottom: 2.5rem;
}

.support-cta {
    text-decoration: none;
    color: #3597ff;
    font-weight: 500;
}

.support-text a img {
    margin-left: .625rem;
}

.behind-us {
    margin-top: 7rem;
}

.behind-title {
    font-size: 2.5rem;
    margin-left: 8rem;
    min-width: 25rem;
}

.logos img {
    margin: 1.5rem;
}

.ig-feed {
    width: 100%;
    margin-top: 10rem;
}

.ig-feed img {
    max-height: 16rem;
}

.podcast {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.moderna-firma{
    max-height: 21.875rem;
}

.podcast a {
    text-decoration: none;
}

.podcast-text {
    max-width: 40.625rem;
    margin-right: 7rem;
}

.podcast-text h2 {
    margin-bottom: 1rem;
}

.podcast-sub {
    font-weight: 500;
    color: #566b8d;
    line-height: 1.5;
    margin-bottom: 2.5rem;
    width: 34.375rem;
}

.podcast-icons a img  {
    padding: .5rem;
    padding-top: 0;
    margin-bottom: 2rem;
}

.podcast-icons a img:first-child {
    padding-left: 0;
}

.podcast-cta {
    padding: 1.2rem 3rem;
    background-color: #3597ff;
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
    font-size: 0.9rem;
}

.thanks{
    flex-direction: column;
    margin-top: 10rem;
}

.thanks-text {
    margin-bottom: 4rem;
}

.sponsors {
    margin-top: 3rem;
}

.sponsor {
    margin: 1rem 2.5rem;
    height: 3.75rem;
}

footer {
    margin-top: 5rem;
    flex-direction: column;
}

.newsletter {
    justify-content: space-between;
    width: 82%;
    background-color: #d7eaff;
    padding: 3rem 2rem;
    border-radius: 6px;
}

.newsletter h3 {
    margin-left: 3.5rem;
}

.newsletter input {
    width: 45%;
    border: 0;
    height: 2.5rem;
    padding: 0 1rem;
    color: #050505;
    font-weight: 600;
    border-radius: 6px;
}

.bottom {
    width: 85%;
    justify-content: space-between;
    margin-top: 9rem;
    margin-bottom: 3rem;
}

.bottom p {
    font-weight: 600;
    color: #566b8d;
    font-size: .75rem;
    letter-spacing: 0.6px;
}

.bottom a {
    font-weight: 600;
    color: #566b8d;
    font-size: .75rem;
    letter-spacing: 0.6px;
    margin-left: 1rem;
    margin-right: 2rem;
}

.footer-socials a{
    margin: 0;
    text-decoration: none;
}

.footer-socials img{
    height: 1.25rem;
    margin-top: 1rem;
    margin-left: .5rem;
}
.footer-socials{
    margin-right: 2rem;
}


.block-bottom {
    position: relative;
    width: 100%;
}

.yellow-block {
    position: absolute;
    right: 0;
    bottom: 0;    
}
