/* 
** Header 
*/

.discord-header {
    padding: 0.5rem;
    border-bottom: 1px solid rgb(222, 222, 222);
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 1rem;
}

.discord-header p {
    font-size: .8rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-right: 3rem;
    margin-top: 0.5rem;
}

.discord-header a {
    color: #989ca2;
    text-decoration: none;
    padding: .5rem 1rem;
    background: rgba(152, 156, 162, 0.15);
    border-radius: 16px;
    font-size: .8rem;
    text-transform: uppercase;
    transition: 0.2s;
}

.discord-header a:hover{
    color: #000;
}

.navbar {
    padding-bottom: 1rem;
}

.nav-links {
    list-style: none;
    margin-right: 29rem;
}

.nav-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: .9rem;
    cursor: pointer;
    min-width: 105px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.chevron-down {
    height: 10px;
    padding-left: 5px;
}

.openlab-logo{
    max-height: 40px;
    margin-right: 2rem;
}

.cta {
    text-decoration: none;
    color: #fff;
    background: #3597ff;
    border-radius: 5px;
    padding: .8rem 1rem;
}  

/* 
** Hero 
*/

.main {
    width: 100%;
    padding-top: 2rem;
    background: #3597ff;
    color: #fff;
}

.text {
     max-width: 526px;
     margin-right: 6rem;
}

.header {
    font-size: 2.5em;
    line-height: 1.2;
}

.sub {
    margin-top: 2rem;
}

.main-img {
    max-height: 418px;
    margin-right: 2.5rem;
}

.aside {
    position: absolute;
    inset: 40% 0 0 85%;
    overflow-x: hidden;
    height: 100%;
}

.o_letter {
    height: 485px;
}

/* 
** Preco openlab 
*/

.why_openlab{
    margin-top: 10rem;
    background: #fff;
}

.why_text {
    flex-direction: column;
}


.why_subtext{
    margin-top: 2rem;
    max-width: 1200px;
    font-size: 1rem;
    text-align: center;
    color: #566b8d;
}



.why_items {
    background: #fff;
    margin-top: 4rem;
}

.why_item {
    width: 300px;
    height: 150px;
    margin: 1rem;
}

.why_item img {
    margin: .5rem 0;
}
.why_item p {
    margin: .5rem 0;
    color: #566b8d;
    font-size: .9rem;
}


/* 
** Vizia 
*/

.vision {
    margin-top: 10rem;
    margin-bottom: 5rem;
    background: #fff;
}

.vision_text {
    max-width: 40%;
    margin-left: 7rem;
}

.vision_text h2 {
    margin-bottom: 2.5rem;
}

.vision_text p {
    font-size: 1rem;
    color: #566b8d;
    padding-bottom: 2rem;
    font-weight: 500;
}

.features {
    flex-wrap: wrap;
    max-width: 40%;
    margin-left: 10rem;
}

.features div {
    width: 230px;
    height: 180px;
    margin: 1rem;
    border-radius: 5px;
    text-align: end;
    padding-top: 2rem;
    padding-right: 1rem;
}

.features div h2 {
    font-size: 6rem;
}

.features div p {
    font-weight: 700;
    font-size: 1.2rem;
}

.vizia_text h2 {
    margin-bottom: 2.5rem;
}

.vizia_text p {
    font-size: 1rem;
    margin-top: 1.2rem;
    color: #566b8d;
    letter-spacing: .5px;
}

.feature-1 {
    color: #5b94d7;
    background-color: rgba(221, 236, 251, 0.4);
}
.feature-2 {
    color: #5cc19a;
    background-color: rgba(156, 238, 204, 0.4);
}
.feature-3 {
    color: #dbca68;
    background-color: rgba(238, 226, 156, 0.4);
}
.feature-4 {
    color: #b95e73;
    background-color: rgba(238, 156, 156, 0.4);
}

/*
** Labs
*/

.lab-items a {
    text-decoration: none;
    color: #000;
}

.lab-title {
    font-size: 2.5rem;
    margin-left: 8rem;
    margin-right: 6rem;
}

.lab {
    width: 230px;
    height: 200px;
    padding: 2rem;
    margin-top: 1rem;
    position: relative;
}

.lab h3 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.lab p {
    font-size: .85rem;
    color: #566b8d;
    max-width: 178px;
    font-weight: 500;
    line-height: 1.5;
}

.lab img {
    position: absolute;
    bottom: 40px;
}

/*
** Schools
*/

.based-text {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.based-card {
    padding: 0 4rem;
}

.based-img {
    height: 250px;
}

.based-card p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #566b8d;
}

.based-card-text h3 {
    margin-right: 5rem;
}

.based-card-text a {
    font-size: 1.1rem;
    color: #3597ff;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 2rem;
}

.p-letter {
    top: 500px;
    position: absolute;
    inset: 340% 0 0 86%;
    overflow-x: hidden;
    height: 100%;

}

.p-letter  img{
    height: 600px;
}

/*
** Want
*/

.want {
    margin-top: 10rem;
}

.want-img {
    height: 600px;
}

.want-text {
    flex-direction: column;
    margin-left: 7rem;
    max-width: 550px;
    position: relative;
}

.want-title {
    margin-bottom: 5rem;
}

.want-behind {
    position: absolute;
    color: rgba(209, 220, 231, 0.45);
    top: 132px;
    font-size: 4rem;
}

.want-text p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #566b8d;
    font-weight: 500;
}

.want-text p:last-child {
    margin-bottom: 4rem;
}

.want-cta {
    padding: 1.2rem 3.5rem;
    color: #fff;
    background-color: #3597ff;
    border-radius: 4px;
    font-weight: 700;
    font-size: .9rem;
    text-decoration: none;
}

/*
** Join
*/

.join-text {
    margin: 7rem 0 5rem 0;
}

.join-item {
    width: 250px;
    height: 200px;
    padding: 2rem;
    margin-top: 1rem;
    position: relative;
}

.join-item h3 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.join-item p {
    font-size: .9rem;
    color: #566b8d;
    width: 100%;
    font-weight: 500;
    line-height: 1.5;
}

.join-item img {
    position: absolute;
    bottom: 50px;
}

/*
** Carousel
*/

.carousel {
    position: relative;
    margin-top: 10rem;
}

.carousel-card{
    position: absolute;
    max-width: 525px;
    height: 420px;
    background-color: #A54FA2;
    border-radius: 6px;
    bottom: 15%;
    left: 9%;
    color: #fff;
    padding: 40px 32px;
}

.carousel-card p {
    margin-top: 2rem;
    font-weight: 500;
}

.carousel-card h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 2rem;
}

.carousel-imgs {
    overflow-x: hidden;
}

.carousel-imgs img {
    max-height: 500px;
}

/*
** Projects
*/

.projects-section {
    margin-top: 10rem;
    position: relative;
}

.projects {
    justify-content: space-evenly;
    margin-top: 10rem;
}

.basic-text {
    flex-direction: column;
}

.basic-text p {
    font-weight: 500;
    color: #566b8d;
    text-align: center;
    max-width: 70%;
    margin-top: 3rem;
}

.little-line {
    width: 50px;
    height: 1px;
    background-color: #fff;
    margin-top: 1rem;
}

.jacob {
    max-height: 360px;
    border-radius: 12px;
    margin-top: 3rem;
}

.project-description {
    max-width: 700px;
    margin-right: 8rem;
}

.project-description p {
    font-weight: 500;
    max-width: 450px;
    margin-top: 1.5rem;
    color: #566b8d;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.project-description h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 2rem;
}

.thick {
    font-weight: 700;
}

.little-line-black {
    width: 50px;
    height: 1px;
    background-color: #000;
    margin-top: 2rem;
}

.arrows {
    margin-bottom: 2rem;
}

.projects-line {
    height: 1px;
    background-color: #dee2e6;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 85%;
}

.projects-cta {
    text-decoration: none;
    color: #3597ff;
    align-items: center;
    font-weight: 500;
}

.projects-cta img {
    padding-left: 10px;
}

.project-aside {
    position: absolute;
    inset: 85% 0 0 -15%;
    overflow-x: hidden;
    height: 100%;
    z-index: -1;
}

.project-aside img {
    height: 450px;
}

.play-button {
    position: absolute;
    overflow-x: hidden;
    height: 70px;
    z-index: 1;
    top: 55%;
    right: 25%;
}

/*
** Special
*/

.why-so-special {
    margin-top: 10rem;
}

.special-heading {
    margin-bottom: 5rem;
}

.special-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 62%;
    margin: 0 auto;
}

.special-card h3{
    padding: 1.5rem 0;
}

.special-card p {
    font-weight: 500;
    color: #566b8d;
    line-height: 1.5;
}

.team-heading {
    display: flex;
    justify-content: center;
    margin: 5rem 0;    
}

.team-members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 82%;
    margin: 0 auto;
}


.team-member img {
    max-height: 350px;
    border-radius: 6px;
}


.member-description {
    font-size: 0.875rem;
    color: #566b8d;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.member-name {
    font-size: 1.25rem;
    font-weight: 500;
}

.member-position {
    color: #566b8d;
    font-weight: 500;
    font-size: 1rem;
}

/*
** Support us
*/

.support-us {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.ptp img {
    max-height: 450px;
}

.support-text {
    max-width: 650px;
    margin-left: 2rem;
}

.support-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.support-text p {
    font-weight: 500;
    color: #566b8d;
    line-height: 1.5;
    margin-bottom: 2.5rem;
}

.support-text a {
    text-decoration: none;
    color: #3597ff;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.support-text a img {
    margin-left: 10px;
}

/*
** Behind us
*/

.behind-us {
    display: flex;
    margin-top: 7rem;
}

.behind-title {
    font-size: 2.5rem;
    margin-left: 8rem;
    margin-right: 10rem;
}

.logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.logos img {
    margin: 0 .5rem;
}

/*
** Ig feed 
*/

.ig-feed {
    display: flex;
    width: 100%;
    margin-top: 10rem;
}

.ig-feed img {
    max-height: 256px;
}

/*
** Podcast
*/

.podcast {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.moderna-firma{
    max-height: 350px;
}

.podcast a {
    text-decoration: none;
}

.podcast-text {
    max-width: 650px;
    margin-right: 7rem;
}

.podcast-text h2 {
    margin-bottom: 1rem;
}

.podcast-sub {
    font-weight: 500;
    color: #566b8d;
    line-height: 1.5;
    margin-bottom: 2.5rem;
    width: 550px;
}

.podcast-icons a img  {
    padding: .5rem;
    padding-top: 0;
    margin-bottom: 2rem;
}

.podcast-icons a img:first-child {
    padding-left: 0;
}

.podcast-cta {
    padding: 1.2rem 3rem;
    background-color: #3597ff;
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
    font-size: 0.9rem;
}

/*
** Thanks
*/

.thanks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.thanks-text {
    margin-bottom: 4rem;
}

.sponsors {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* gap: 3.5rem; */
}

.sponsors img {
    margin: 1rem 2.5rem;
}

/*
** Newsletter
*/

footer {
    margin-top: 5rem;
    flex-direction: column;
}

.newsletter {
    display: flex;
    justify-content: space-between;
    width: 82%;
    background-color: #d7eaff;
    padding: 3rem 2rem;
    border-radius: 6px;
}

.newsletter h3 {
    margin-left: 3.5rem;
}

.newsletter input {
    width: 45%;
    border: 0;
    height: 40px;
    padding: 0 1rem;
    color: #050505;
    font-weight: 600;
    border-radius: 6px;
}

.bottom {
    width: 85%;
    justify-content: space-between;
    margin-top: 9rem;
    margin-bottom: 3rem;
}

.bottom p {
    font-weight: 600;
    color: #566b8d;
    font-size: .75rem;
    letter-spacing: 0.6px;
}

.bottom a {
    font-weight: 600;
    color: #566b8d;
    font-size: .75rem;
    letter-spacing: 0.6px;
    margin-left: 4rem;
    margin-right: 8rem;
}

.footer-socials a{
    margin: 0;
}

.footer-socials img{
    margin-right: .5rem;
    height: 20px;
    margin-top: 1rem;
    margin-right: 1.5rem;
}

.block-bottom {
    position: relative;
    width: 100%;
}

.yellow-block {
    position: absolute;
    right: 0;
    bottom: 0;    
}
